<center><h1>Topics <%= link_to "New Topic", new_topic_path, class: 'btn btn-primary' %></h1></center>
<br>
<hr>
<br>
<div class="row">
  <div class="col-md-8">
    <% @topics.each do |topic| %>
      <div class="media">
        <div class="media-body">
          <h3 class="media-heading">
            <%= link_to topic.title, topic %>
             <br>
              <% topic.bookmarks.each do |bookmark| %>
                <h5><%= link_to bookmark.url, bookmark.url, :target => '_blank' %></h5>
              <% end %>
          </h4>
        </div>
      </div>
    <% end %>
</div>